$base-font-size:16px;

$spacing:(
1:1px,
2:2px,
3:3px,
4:4px,
6 :6px,
8:8px,
12:12px,
14:14px,
16:16px,
18:18px,
20:20px,
24:24px,
30:30px,
32:32px,
36:36px,
40:40px,
44:44px,
52:52px,
80:80px,
100:100px
);

$colors: (
    white: #FFFFFF,
    disabled: #999090,
    orange: #DA722C,
    orange-active: #d86315,
    skybound-blue: #057ADA,
    skybound-active: #43a1ed,
    periwinkle-blue: #6F7DFB,
    shadow-ocean: #070917,
    crystal-sky: #E8F7FB,
    deep-lagoon: #023047,
    deep-lagoon-active: #033f5e
);


$z-index:(
    top-level:9999,
    behind:1
);