@use '../.././base/style/utils.scss' as *;
@use '../.././base/style/variables.scss' as *;

.card{
    min-width: toRem(442px);
    box-shadow: 0px 9px 36px rgba(0, 0, 0, 0.2);
    border-radius: toRem(24px);
    overflow: hidden;
    z-index: map-get($z-index, top-level );
    position: relative;
    &-description{
        color:var(--white);
        min-height: toRem(72px);
        border-radius:toRem(24px);
        line-height: 150%;
        width: 100%;
        padding: toRem(24px) toRem(32px);
        box-sizing: border-box;
        background: var(--periwinkle-blue);
    }

    &-info {
        padding:0 toRem(32px) toRem(5px);
        box-sizing: border-box;
        background-color: var(--white);

        &-avatar{
            position: relative;
            min-width: toRem(120px);
            flex-basis: 10%;
            &-img{
                position: absolute;
                top: toRem(-12px);
            }
        }

        &-about {
            flex-basis: 80%;
            box-sizing: border-box;
            // min-height: toRem(50px);
            gap:toRem(8px);

            &>div{
                font-size: toRem(18px);
            }
        }
    }
}