<div class="page-container">
    <!-- <app-header></app-header> -->
    <div style="padding:115px;">
        <app-review></app-review>

    </div>
    
</div>


<!-- <app-general-introduction></app-general-introduction>
<app-review></app-review>
<app-course></app-course>
<app-contact></app-contact>
<app-footer></app-footer> -->

<!-- <app-icon
key="logo" fontSize="40px"
></app-icon> -->

<!-- <app-button
type="primary"
[isDisabled]="false"
>
<span style="display:flex; justify-self: center; align-items: center;">
    <app-icon
    key="edit" width="16px" height="16px"
    ></app-icon>
    &nbsp;
    <span>Enrol Now</span>
</span>

</app-button> -->


<!-- <app-avatar></app-avatar> -->

<!-- <app-card></app-card> -->