<div class="page-container">
    <div class="introduce">
        <app-header data-testId="appHeader"></app-header>

        <div class="page-container-padding pt-80 ">
            <app-general-introduction
            data-testId="appIntroduction"
            ></app-general-introduction>
        </div>
    </div>

    <div class="page-container-padding">
        <div appLazyLoadDirective 
            data-testId="appReviewWithDirective"
            (elementVisible)="observeSection($event,'appReview')">
            <app-review
            data-testId="appReview"
            ></app-review>
        </div>

        <div appLazyLoadDirective 
            (elementVisible)="observeSection($event,'appCourse')">
            <app-course
            data-testId="appCourse"
            ></app-course>
        </div>

        <div appLazyLoadDirective 
            (elementVisible)="observeSection($event,'appContact')">
            <app-contact
            data-testId="appContact"
            ></app-contact>
        </div>

        <div appLazyLoadDirective 
            (elementVisible)="observeSection($event,'appFooter')">
            <app-footer
            data-testId="appFooter"
            ></app-footer>
        </div>
        
    </div>

</div>
