@use "../../../base/style/utils.scss" as *;
@use "../../../base/style/variables.scss" as *;


.review-works{
    gap:toRem(120px);
    padding-top:toRem(50px);
    @include mq(tablet){
        flex-wrap: wrap-reverse;
    }

    &-card{
        position: relative;
        z-index: map-get($z-index , top-level );
        flex-basis: 50%;

        &-item{
            max-width: toRem(442px);
        }

        &__space-left{
            margin-left:toRem(30px);
        }
    }

    &-overview{
        flex-basis: 50%;
        p{
            line-height: 200%;
        }
    }
    
}

.line{
    position: absolute;
    width: toRem(28px);
    height: toRem(546px);
    left: toRem(100px);
    top: toRem(-56px);
    z-index: map-get($z-index , behind );
    background: var(--deep-lagoon);
    border-radius: toRem(24px);
}

