<div class="review-works flex flex-justify-space-between">
    <div class="line"></div>

    <div class="review-works-card">
        @if (cardReview | async; as VM) {
            @for (item of VM; track $index) {
                <div class="mb-32">
                    <app-card
                        [data]="item"
                    ></app-card>
                </div>
               
            }
        }
    </div>

    @if(studentReview | async; as VM){
        <div class="review-works-overview">
            <h1>{{VM.title}}</h1>

            @for (des of VM.descriptions; track $index) {
                <p>{{des}}</p>
            }

            <app-button>
                Learn More
            </app-button>
        </div>
    }
    
</div>