<div class="flex flex-justify-space-between general-introduction">
    <div class="general-introduction-left">
        <h1 class="general-introduction-left__title">Learn the art of Game Dev</h1>

        <p class="general-introduction-left__description mt-24 mb-24">
            This is a comprehensive course on Game Development. You will learn everything from generating an idea to publishing your games to different platforms.
        </p>
       
        <app-button>
            <div class="flex-center">
                <app-icon
            key="edit"
            ></app-icon>
            &nbsp;
            <span>Enroll now</span>
            </div>
        </app-button>
    </div>

    <div class="general-introduction-right flex ">
            <div class="flex flex-col-direction">
              <div class="mb-140 mt-140 ml-52">
                <app-introduction-bubbles >
                    <h2 class="flex-center">32 K</h2>
                    &nbsp;
                    <div>Students enrolled</div>
                </app-introduction-bubbles>
              </div>
                    
              <div class="mr-52">
                <app-introduction-bubbles> 
                    <h2 class="flex-center">
                        4.7 
                        <span class="mt-8">
                            <app-icon 
                            key="star"
                            fontSize="40px"
                            color="#FFCE31"
                            ></app-icon>
                        </span>
                    </h2>
                    <div>Overall Rating</div>
                </app-introduction-bubbles>
              </div>
            </div>

            <img src="image/girl.png"
                width="446"
                height="582"
            />
    </div>
</div>